In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# MARS DATA SCRAPE- NASA WEBSITE

url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find

In [6]:
# Need to extract the following: content_title AND article_teaser_body
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news_titles = soup.find_all('div', class_='content_title')
news_title = news_titles[1].text.strip()

news_p = soup.find('div', class_='article_teaser_body').text.strip()

In [7]:
print(news_title)
print(news_p)

How NASA's Mars Helicopter Will Reach the Red Planet's Surface
The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.

In [8]:
# MARS DATA SCRAPE- JPL WEBSITE FEATURED IMAGE

jpl_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
featured_image_url_start = 'https://jpl.nasa.gov'
browser.visit(jpl_image_url)

In [9]:
jpl_image = browser.html
soup = BeautifulSoup(jpl_image, 'html.parser')

In [11]:
# Need to extract the following: carousel item- data-fancybox-href
home_images = soup.find('article', class_='carousel_item')
footer = home_images.find('footer')
link_url = footer.find('a')["data-fancybox-href"]
featured_image_url = featured_image_url_start + link_url
featured_image_url

'https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA17474_ip.jpg'

In [12]:
# MARS DATA SCRAPE- TABLE FROM SPACE-FACTS.COM

sf_url = "https://space-facts.com/mars/"
browser.visit(sf_url)

In [13]:
tables = pd.read_html(sf_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
df = tables[0]
df.columns = ['Description', 'Value']
df.head()

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
df = df.iloc[1:]
df.set_index('Description', inplace=True)
df.head()

                                         Value
Description
Polar Diameter:                       6,752 km
Mass:            6.39 × 10^23 kg (0.11 Earths)
Moons:                     2 (Phobos & Deimos)
Orbit Distance:       227,943,824 km (1.38 AU)
Orbit Period:             687 days (1.9 years)

In [18]:
marsTable = df.to_html()
print(marsTable)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [19]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [20]:
hemisphere_images = browser.html
soup = BeautifulSoup(hemisphere_images, 'html.parser')

In [22]:
# Create list for image URLs
image_urls = []
image_url_start = 'https://astrogeology.usgs.gov'

# Retreive all items that contain Mars Hemispheres data
items = soup.find_all('div', class_='item')

for i in items: 
    title = i.find('h3').text
    image_url_end = i.find('a', class_='itemLink product-item')['href']
    browser.visit(image_url_start + image_url_end)
    image_html = browser.html
    soup = BeautifulSoup(image_html, 'html.parser')
    image_url = image_url_start + soup.find('img', class_='wide-image')['src']
    image_urls.append({"title" : title, "image_url" : image_url})
    

# Display image_urls
image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]